# Crea una integración interna en Notion y comparte con ella las fuentes originales.
NOTION_API_KEY=secret_xxx
NOTION_SERIES_DATA_SOURCE_ID=4bfc568e-4eec-4f05-8663-1629c29f3596
NOTION_EPISODES_DATA_SOURCE_ID=9b56500f-6a49-41d3-8cfa-219a1b01e9dd

# Futuro: fuente de datos de películas.
NOTION_MOVIES_DATA_SOURCE_ID=dfb99b42-fbf6-4c69-9aa1-bb774abbc68a
